div {
    display: grid;
    grid-template-areas: 
        "cabecalho"
        "corpo"
        "rodape"
    ;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% auto auto;
}
.cabecalho{
    grid-area: cabecalho;
}
.corpo{
    background-color: aliceblue;
    grid-area: corpo;
}
.rodape{
    grid-area: rodape;
}